#start {
    background-color:pink;
    font-size: 30px;
    margin: 0 auto;
    display: block;
    border: 3px solid grey;  
}

#timer {
    position: absolute;
    top: 15px;
    right: 15px;
}

#start:hover {
    background-color: palevioletred;
}

h1, p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-size: 25px;
}

h3 {
    display: inline-block;
}

.row{
    margin:30px;
}

.container{
    margin-top: 200px;
}

#question {
    border: 3px solid grey;
    height: 60px;
    font-size: 30px;
}

.choice {
    border: 5px solid blue;
    display: inline-block;
    height:30px;
    width:50px;
    margin: 20px;
    
}